@use '../../../mixin/mixin' as *;
@use '../../../setting/config' as *;

.mv{
    position: relative;
    &::before{
        content: '';
        display: block;
        height: 330px;
        background-image: url(../../../img/fv-img-sp.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &__box{
        padding: 25px 20px 0;
    }
    &__ttl{
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.7;
        letter-spacing: 0.05em;
    }
    &__emphasis{
        font-size: 2.4rem;
    }
    &__red{
        color: $red;
    }
    &__blue{
        color: $blue;
    }
    &__green{
        color: $green;
    }
    &__txt{
        margin-top: 12px;
        font-size: 1.5rem;
        line-height: 1.7;
    }
}
@include s(){
    .mv{
        &__ttl{
            font-size: 1.8rem;
        }
        &__emphasis{
            font-size: 2.7rem;
        }
        &__txt{
            font-size: 1.6rem;
        }
    }
}
@include m(){
    .mv{
        &::before{
            background-image: url(../../../img/fv-img-tablet.png);
        }
        &__box{
            padding: 25px 30px 0;
        }
        &__ttl{
            font-size: 2rem;
        }
        &__emphasis{
            font-size: 3rem;
        }
    }
}
@include l(){
    .mv{
        height: 560px;
        background-image: url(../../../img/fv-img-pc.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        &::before{
            display: none;
        }
        &__box{
            padding: 0;
            position: absolute;
            top: 50%;
            left: 55%;
            transform: translateY(-50%);
        }
        &__ttl{
            font-size: 2.4rem;
        }
        &__emphasis{
            font-size: 3.6rem;
        }
        &__txt{
            margin-top: 20px;
            font-size: 2rem;
        }
    }
}
@include xl(){
    .mv{
        &__box{
            left: 59%;
        }
        &__ttl{
            font-size: 2.6rem;
        }
        &__emphasis{
            font-size: 3.8rem;
        }
    }
}