@use '../mixin/mixin' as *;
@use '../setting/config' as *;

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background-color: #fff;
    padding: 20px 20px 13px;
    border-bottom: 3px solid $orange;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        width: 140px;
    }
}
@include m(){
    .header{
        padding: 20px 30px 13px;
        &__logo{
            width: 150px;
        }
    }
}
@include l(){
    .header__logo:hover{
        opacity: .7;
    }
}